.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color:#007bff;
    font-size: 48px;
    font-weight: bold;
}

.underline{
    width: 80px;
    height: 4px;
    background-color: #0056b3 ;
    border-radius: 2px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.forgot-password{
    margin-top: 10px;
    padding-left: 0;
    color: #797979;
    font-size: 18px;
    text-align: center;
}

.forgot-password span{
    cursor: pointer;
    color: #007bff;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
    justify-content: center;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input input{
    width: 80%;
    height: 60px;
    margin-left: 20px;
    border: none;
    background: transparent;
    font-size: 24px;
    outline: none;
    color: #333;
}

.gray{
    background-color: gray;
}

